# Ignorar arquivos do IntelliJ IDEA
.idea/
*.iml

# Ignorar diretórios de build do Maven/Gradle
target/
build/

# Logs
*.log

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env

# Outros arquivos temporários
*.class
*.swp
